@font-face {
    font-family: 'Museo_300';
    src: url('../fonts/museosanscyrl_300.woff2') format("woff2");
}
@font-face {
    font-family: 'Museo_900';
    src: url('../fonts/museosanscyrl_900.woff2') format("woff2");
}

@font-face {
    font-family: 'OpenSans_ExB';
    src: url('../fonts/opensans-extrabold.woff2') format("woff2");
}

@font-face {
    font-family: 'OpenSans_SmB';
    src: url('../fonts/opensans-semibold.woff2') format("woff2");
}

@font-face {
    font-family: 'ProximaNova_ExB';
    src: url('../fonts/ProximaNova-Extrabld.woff') format("woff");
}

@font-face {
    font-family: 'ProximaNova_R';
    src: url('../fonts/ProximaNova-Regular.woff') format("woff");
}

@font-face {
    font-family: 'Ubuntu-mono_B';
    src: url('../fonts/ubuntumono-bold.woff2') format("woff2");
}

@font-face {
    font-family: 'Ubuntu-mono_R';
    src: url('../fonts/ubuntumono-regular.woff2') format("woff2");
}