$main-blue: rgba(#00bcd4, 1);
$light-smoke: rgba(#c4c4c4, 1);
$light-smoke2: rgba(#c7c7c7, 1);
$grey: rgba(#636363, 1);
$white: rgba(#ffffff, 1);
$dark-smoke: rgba(#2b2a2f, 1);
$dark-smoke2: #231e1f;
$header-color: #242427;


$dark-smoke3: #313133;
$black: rgba(#000000, 1);
$red: #fb1c3e;

