.site-logo {
  margin: 0;
}

.logo-link {
  display: inline-block;
  color: $primary-color-white;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
}
